<div class="container spacer">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Rendez-vous</h4>
        </div>
        <div class="panel panel-body">
            <table class="table table-striped">
                <tr>
                    <th hidden>id</th>
                    <th>Nom / Prenom</th>
                    <th>Lieu</th>
                    <th>Description</th>
                    <th>Duree</th>
                    <th>Heure de début </th>
                    <th>Date du RDV </th>
                </tr>
                <tr *ngFor="let c of pageRDV?.content">
                    <td hidden>{{c.id}}</td>
                    <td>{{c.utilisateur.nom+" "+c.utilisateur.prenom}}</td>
                    <td>{{c.lieu}}</td>
                    <td>{{c.description}}</td>
                    <td>{{c.duree}}</td>
                    <td>{{c.time}}</td>
                    <td>{{c.date | date : format : timezone }}</td>
                </tr>
            </table>
            <div class="container">
                <ul class="nav nav-pills">
                    <li [ngClass]="{'active':i==currentPage}" *ngFor="let p of pages;let i=index">
                        <a class="clickable" (click)="gotoPage(i)">{{i}}</a>
                    </li>
                </ul>
            </div>
            <br/>
            <br/>
        </div>
    </div>
</div>
