<div style="background-color: #F8F8F8">
    <nav class="navbar navbar-inverse" style="background-color: dimgrey">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><font color="white"><b>CRM</b></font></a>
            </div>
            <ul class="nav navbar-nav">
                <li ><a routerLink="/homeAdmin" class="glyphicon glyphicon-home"><font color="white"><b> Home</b></font></a></li>
                <li ><a routerLink="/prospect"><font color="white"><b>Prospect</b></font></a></li>
                <li><a routerLink="/contact"><font color="white"><b>Contact</b></font></a></li>
                <li class="active"><a><font routerLink="/nouveauProduct"  color="white"><b>Produit</b></font></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a   (click)="logOut()"  class="btn-white btn-small">Sign up</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="container">
    <br>
    <form class="form-horizontal shadow p-3 mb-5 bg-white rounded" #f="ngForm"
          (ngSubmit)="f.form.valid && updateProd(desi,quan,price,prodid,image)">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" disabled class="form-control" placeholder="Product Name" #prodid
                           ngModel name="prodname" [(ngModel)]="product.productid">
                </div>
                <div class="form-group">
                                        <textarea type="text" class="form-control" placeholder="designation" name="desc"
                                                  #desi ngModel [(ngModel)]="product.designation" rows="5"></textarea>
                    <span *ngIf="requiredFields.desi" class="invalid-input"> Designation is required</span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="quantity" name="quan" #quan
                           ngModel [(ngModel)]="product.quantity">
                    <span *ngIf="requiredFields.quantity" class="invalid-input"> Quantity invalid</span>

                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="price" name="price" #price
                           ngModel [(ngModel)]="product.price">
                    <span *ngIf="requiredFields.price" class="invalid-input"> Price invalid</span>
                </div>
                <div class="form-group">
                    <input type="file" class="form-control" placeholder="Product Picture" #image
                           accept="image/*" name="image"
                           (change)="handleFileInput($event.target.files)">
                </div>
            </div>
            <div class="col-md-3">
                <p><b>Original Image</b></p>
                <img src="data:image/png;base64,{{product.productimage}}"
                     style="width:70%;height: 60%;">

            </div>
            <div class="col-md-3">
                <p><b>New Image</b></p>
                <img [src]="imageUrl" style="width:250px;height: 200px;">

            </div>
        </div>
        <div *ngIf="errMsg" class="alert alert-danger">{{errMsg}}</div>

        <div class="row">
            <div class="col-md-6">
                <input type="submit" class=" btn btn-secondary" value="Update Product">
            </div>
        </div>
    </form>
</div>
