.myproduct {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(205, 210, 212);
}
.card-text{
    height: 50px;
    overflow: hidden;
}
.img-responsive{
    max-width: 100%;
    height: 250px;
}